{
  "swagger": "2.0",
  "info": {
    "title": "Authentication API",
    "version": "v1"
  },
  "host": "api.ipb.ac.id",
  "basePath": "/v1/Authentication",
  "schemes": [
    "https"
  ],
  "paths": {
    "/LoginMahasiswa": {
      "post": {
        "tags": [
          "Login"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json",
          "application/xml",
          "text/xml",
          "application/*+xml"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-IPBAPI-TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer cf6d7fb2-b407-4ef1-838d-02c0543a5385"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MahasiswaResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/LoginDosen": {
      "post": {
        "tags": [
          "Login"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json",
          "application/xml",
          "text/xml",
          "application/*+xml"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-IPBAPI-TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer cf6d7fb2-b407-4ef1-838d-02c0543a5385"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DosenResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/LoginStaff": {
      "post": {
        "tags": [
          "Login"
        ],
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json",
          "application/xml",
          "text/xml",
          "application/*+xml"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-IPBAPI-TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer cf6d7fb2-b407-4ef1-838d-02c0543a5385"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PegawaiResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ValidateToken": {
      "get": {
        "tags": [
          "Validation"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-IPBAPI-TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer cf6d7fb2-b407-4ef1-838d-02c0543a5385"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenValidationResult"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TokenValidationResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Credential": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "MahasiswaResult": {
      "type": "object",
      "properties": {
        "mahasiswaId": {
          "format": "int32",
          "type": "integer"
        },
        "nama": {
          "type": "string"
        },
        "nim": {
          "type": "string"
        },
        "kodeMayor": {
          "type": "string"
        },
        "mayor": {
          "type": "string"
        },
        "kodeStrata": {
          "type": "string"
        },
        "tahunMasuk": {
          "format": "int32",
          "type": "integer"
        },
        "strataId": {
          "format": "int32",
          "type": "integer"
        },
        "statusAkademikId": {
          "format": "int32",
          "type": "integer"
        },
        "token": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "DosenResult": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "nama": {
          "type": "string"
        },
        "namaGelar": {
          "type": "string"
        },
        "nip": {
          "type": "string"
        },
        "isPNS": {
          "type": "boolean"
        },
        "token": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "PegawaiResult": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "nama": {
          "type": "string"
        },
        "namaGelar": {
          "type": "string"
        },
        "nip": {
          "type": "string"
        },
        "isPNS": {
          "type": "boolean"
        },
        "token": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "TokenValidationResult": {
      "type": "object",
      "properties": {
        "valid": {
          "type": "boolean"
        }
      }
    }
  }
}